header.header
    .header__wrapper
        .header__column
            a(href=`${routes.home}`) ThinkBix Data center
        .header__column
            ul
                if user
                    li
                        a(href=routes.findList) DataList
                    li
                        a(href=routes.logout) Logout