extends layouts/main

block content
    .form-container
        form(action="/upload", method="post")
            .title-field
                label.field-label(id="title", for="title") Title
                .field-input
                    input(type="text", id="title", name="title", size="8", tabindex="1")
            .description-field
                label.field-label(id="description", for="description") Description
                .field-input
                    textarea(type="text", id="description", name="description", spellcheck="true", rows="10", cols="50", tabindex="4", placeholder="&&로 입력을 구분!")
            .tag-field
                label.field-label Tag
                .field-input
                    label.tag-label Place
                    .tag-input
                        input(type="checkbox", id="house", name="place", value="집") 
                        label(for="house") 집
                    .tag-input
                        input(type="checkbox", id="company", name="place", value="회사") 
                        label(for="company") 회사
                .field-input
                    label.tag-label Part
                    .tag-input
                        input(type="checkbox", id="arm", name="part", value="팔") 
                        label(for="arm") 팔
                    .tag-input
                        input(type="checkbox", id="neck", name="part", value="목") 
                        label(for="neck") 목
                .field-input
                    label.tag-label Situation
                    .tag-input
                        label(for="situation") 상황
                        input(type="text", id="situation", name="situation", placeholder="&&로 입력을 구분!")
                .image-input
                    

            .submit-input    
                input(type="submit", value="업로드")