extends layouts/main

block content
    .form-container
        form(action="/upload", method="post", enctype="multipart/form-data")
            input(type="text", name="title", placeholder="Title")
            input(type="text", name="repetition", placeholder="Repetition")
            input(type="text", name="check", placeholder="Check")
            input(type="text", name="point", placeholder="Point")
            input(type="text", name="hashtag", placeholder="Hash tag: ','로 구분!")
            .image-container
                .process-item
                    input(type="file", name="imageFile")
                    textarea(name="description", rows="10", cols="50", tabindex="4", placeholder="&&로 입력을 구분!")
                .process-item
                    input(type="file", name="imageFile")
                    textarea(name="description", rows="10", cols="50", tabindex="4", placeholder="&&로 입력을 구분!")
                .process-item
                    input(type="file", name="imageFile")
                    textarea(name="description", rows="10", cols="50", tabindex="4", placeholder="&&로 입력을 구분!")
            input(type="button", value="Upload", onclick="jsonSubmit")
            
