.data-list{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Staatliches', cursive;
    ul{
        width: 100%;
        max-width: 600px;
        color: white;
        font-family: 'Nanum Gothic', sans-serif;
        li{
            width: 100%;
            border: 1px solid white;
            border-radius: 5px;
            padding: 5px;
            a{
                display: block;
                width: 100%;
            }
        }
        li:not(:last-child){
            margin-bottom: 10px;
        }
    }
}