doctype html
html
    head
        title Upload data
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ../partials/header
        main
            block content
        